.dungeon-container {
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

.row-container {
    display: block;
    height: 15px;
}

.tile-container {
    width: 15px;
    height: 15px;
    margin: 0;
    display: inline-block;
}

.tile-wall {
    background-color: #333;
}

.tile-corridor {
    background-color: #777;
}

.tile-floor {
    background-color: #999;
}