.dungeon-container {
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

.row-container {
    display: block;
    height: 15px;
}

.tile-container {
    width: 15px;
    height: 15px;
    margin: 0px;
    display: inline-block;
}

.tile-wall {
    background-color: white;
}

.tile-floor {
    background-color: black;
}

.tile-enemy {
    background-color: lightcoral
}

.tile-item {
    background-color: lightseagreen;
}

.tile-player {
    background-color: lightgray;
}

.tile-fog {
    background-color: white;
}

.tile-stairs {
    background-color: purple;
}